.card {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}

.card>img {
    height: 50%;
    object-fit: contain;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    width: 100%;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar>h1 {
    margin-left: 20px;
}

.navbar>nav {
    margin-right: 20px;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

#form1 {
    max-width: 600px;
}